.profile {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.profile__clothing-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 0 93px;
  padding: 0;
}

.profile__edit-btn,
.header__signout-btn {
  white-space: nowrap;
}

.profile__edit-btn {
  margin: 0 0 8px 0;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
/* 
.sidebar__avatar {
  margin-bottom: 24px;
}

.sidebar__username {
  white-space: nowrap;
} */
