.card {
  height: 325px;
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 60%;
  background-color: white;
  padding: 5px;
  border: 2px solid white;
}

.card__image {
  width: 100%;
  border-radius: 19px;
}

.card__delete-button {
  background: none;
  border: none;
  color: #ff4d00;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
}
